@media (max-width:768px){
	h2 {
		margin-top: 95px;
		margin-bottom: 25px;
	}
}
@media (max-width:1200px) and (min-width:768px){
	h2 {
		margin-top: 130px!important;
		margin-bottom: 0px;
	}
}
@media (min-width:1200px) {
	h2 {
		margin-top: 120px!important;
		margin-bottom: 0px;
	}
}

h2 {
	color: #464646;
}

div.article {
	margin-top: 25px;
}